body {
  background-color: rgb(10, 20, 23);
}

.main {
    margin-top: 20px;
    margin-left: 150px;
    margin-right: 150px;
    color: #fff
  }

  .title-text {
    margin-left: 20px;
    padding-top: 20px;
    border-bottom: 3px solid white;
    width: 97%;
    display: block;
  }

 .container {
    position: absolute;
    width: 68%;
    height: 154%;
    justify-content: center;
  }
  
  .main-div {
    width:100%;
    background-color:gray;
  }

  .app-div {
    background-color: rgb(29, 58, 66);
    width: 100%;
    height: 870px;
    border-radius: 33px;
    border: 3px solid rgb(96, 164, 190);
  }

  .sidebar-div {
    width: 15%;
    height:749px;
    background-color: rgb(50, 97, 110);
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 20px;
    border-radius: 33px;
    border: 3px solid white;
  }


  .bodyarea-div {
    width: 80%;
    min-height:800px;
    background-color: rgb(11, 19, 22);
    float: right;
    margin-right: 40px;
  }

  .button {
    text-align: center;
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
  
  body {
    font-family: helvetica;
  }
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(96, 164, 190);
    color: #fff;
    position: relative;
    top: 0;
    width: 100%;
  }
  
  .nav-links a {
    color: #fff;
  }
  
  /* LOGO */
  .logo {
    font-size: 36px;
    font-weight: bold;
  }
  
  /* NAVBAR MENU */
  .menu {
    display: flex;
    gap: 1em;
    font-size: 24px;
  }
  
  .menu li:hover {
    background-color: rgb(76, 129, 150);
    border-radius: 5px;
    transition: 0.3s ease;
  }
  
  .menu li {
    padding: 5px 14px;
  }
  
  /* DROPDOWN MENU */
  .services {
    position: relative; 
  }
  
  .dropdown {
    background-color: rgb(76, 129, 150);
    padding: 1em 0;
    position: absolute;
    display: none;
    border-radius: 8px;
    top: 30px;
  }
  
  .dropdown li + li {
    margin-top: 10px;
  }
  
  .dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
  }
  
  .dropdown li:hover {
    background-color: #4c9e9e;
  }
  
  .services:hover .dropdown {
    display: block;
  }